<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntiMe version="v4.0" sku=".NETFraMework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="twitterConsuMerKey" value="0WA47eq8znqGgyxeHjXv52XlY" />
		<add key="twitterConsuMerSecret" value="WWyz07eHXh1v6qHtZK1A83rg5vOVvfxVeHYP5GgqhTwQzcvevq" />
		<add key="twitterAccess" value="139093704-XzZWKoTO2DncNaIjjK2HgeDpLba8Jy1gx9pf7Wjv"/>
		<add key="twitterAccessSecret" value="36j1tf2vsnCVeqzCEbjSpPxaDM9A6Zpf5xBvhoK4qKaF2"/>
		<add key="twitterSearchUrl" value="https://api.twitter.com/1.1/search/tweets.json?q={0}&amp;include_entities=false&amp;count={1}"/>
		<add key="twitterAuthorizationUrl" value="https://api.twitter.com/oauth2/token"/>
		<add key="flickrSearchUrl" value="https://www.flickr.com/services/feeds/photos_public.gne?tags={0}&amp;format=json"/>
	</appSettings>
</configuration>