<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntiMe version="v4.0" sku=".NETFraMework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="twitterConsuMerKey" value="4cbzS4wiPH5oYeMjFgRrcnWGK" />
		<add key="twitterConsuMerSecret" value="AujhOPOm1cWCEEmFsJpQkm0V5sWm3nX3aOtQQq22LNt9GkPhdd" />
		<add key="twitterAccess" value="139093704-XzZWKoTO2DncNaIjjK2HgeDpLba8Jy1gx9pf7Wjv"/>
		<add key="twitterAccessSecret" value="36j1tf2vsnCVeqzCEbjSpPxaDM9A6Zpf5xBvhoK4qKaF2"/>
	</appSettings>
</configuration>