<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFraMework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="twitterConsumerKey" value="MFdBNDdlcTh6bnFHZ3l4ZUhqWHY1MlhsWQ==" />
		<add key="twitterConsumerSecret" value="V1d5ejA3ZUhYaDF2NnFIdFpLMUE4M3JnNXZPVnZmeFZlSFlQNUdncWhUd1F6Y3ZldnE=" />
		<add key="twitterAccess" value="MTM5MDkzNzA0LWxmWEpndE5TWllEU1hQTVpBTkdwOGVYanpaRUNmMHpFVlhCQkNtczg="/>
		<add key="twitterAccessSecret" value="SElDVlVXcVhFSzZKSnV0WXUzbERsVWRSUnhYc2lBazBJMFpWQlRTR2FMYjJE"/>
		<add key="twitterSearchUrl" value="https://api.twitter.com/1.1/search/tweets.json?q={0}&amp;include_entities=false&amp;count={1}"/>
		<add key="twitterAuthorizationUrl" value="https://api.twitter.com/oauth2/token"/>
		<add key="flickrSearchUrl" value="https://www.flickr.com/services/feeds/photos_public.gne?tags={0}&amp;format=json"/>
	</appSettings>
</configuration>